.header_container {
    max-width: 1357px;
    background: #f0f5ff;
    height: 50px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #8c8c8c;
    display: flex;
    align-items: center;
    padding-left: 24px;
}

.header_menu {
}

.header_menu_item {
    color: #262626;
}

@media screen and (max-width: 361px) {
    .header_container {
        max-width: 336px;
        padding-left: 24px;
    }

    .header_menu_item {
        color: #262626;
    }
}
