.header_container {
    background: var(--basic-bg-color);
    height: 50px;
    font-family: var(--basic-font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: var(--basic-font-color);
    display: flex;
    align-items: center;
    padding-left: 24px;
}

.go_main {
    cursor: pointer;
}

.header_menu_item {
    color: var(--basic-title-color);
}

@media screen and (max-width: 361px) {
    .header_container {
        max-width: 336px;
        padding-left: 24px;
    }

    .header_menu_item {
        color: var(--basic-title-color);
    }
}
