.review_group_section {
    max-width: 1350px;
    min-height: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 24px 24px 0;
}

.review_group {
    width: 100%;
    max-height: 730px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    overflow: auto;
}

.review_group::-webkit-scrollbar {
    display: none;
}

.review_button_group {
    display: flex;
    margin-top: 112px;
    margin-bottom: 50px;
    gap: 23px;
    align-items: center;
}

.review_button {
    height: 40px;
    color: #FFFFFF;
    background-color: #2F54EB;
    padding: 10px 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    font-family: Inter, sans-serif;
    border-radius: 2px;
}

.review_text {
    color: #2F54EB;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    cursor: pointer;
}

@media screen and (max-width: 365px) {
    .review_group_section {
        min-height: 90%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 24px 24px 0;
    }

    .review_group {
        max-height: 1024px;
        display: flex;
        gap: 16px;
        flex-direction: column;
        overflow: auto;
    }

    .review_group::-webkit-scrollbar {
        display: none;
    }

    .review_button_group {
       flex-direction: column;
        margin-top: 48px;
        margin-bottom: 42px;
        gap: 25px;
    }

    .review_button {
       width: 100%;
    }

    .review_text {
        color: #2F54EB;
        font-family: Inter, sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        text-align: center;
        cursor: pointer;
    }
}
