.add_training_modal .ant-modal-content {
    padding: 12.5px 0 0 0;
}

.add_training_modal {
    margin: 0;
}

.add_training_header_wrapper {
    padding: 0 12px 12.5px 12px;
    display: flex;
    gap: 5px;
    border-bottom: 1px solid #E0E0E0;
    align-items: center;
}

.add_training_header_wrapper .ant-select-selection-item {
    text-transform: none;
}

.add_training_selector .ant-select-selector {
    border-color: #FFFFFF;
}

.add_training_modal .ant-modal-mask {
    background: transparent;
    pointer-events: none;
}
.add_training_modal .ant-modal-wrap {
    pointer-events: none;
}
.add_training_modal .ant-modal {
    pointer-events: all;
}

.edit_svg_disabled svg{
    fill: #BFBFBF;
}

.edit_svg svg{
    fill: #2F54EB;
}

.add_training_modal_list_wrapper {
    min-height: 128px;
    padding: 0 12px 0;

}

.add_training_modal_list {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.add_training_modal_title {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #8C8C8C;
}

.add_training_modal_list_item {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.add_training_modal_none_list {
    padding: 16px 12px;
    height: 91px;
}

.add_training_modal .ant-modal-footer {
    padding: 12px;
    margin: 0;
    border-top: 1px solid #E0E0E0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.add_training_modal_button {
    margin: 0;
    width: 100%;
    background-color: #FFFFFF;
    color: #262626;
    border-radius: 2px;
    height: 32px;
}

.add_training_modal .ant-modal-footer > .ant-btn + .ant-btn {
    margin-inline-start: 0;
}

.add_training_modal .ant-btn-default:disabled {
    background-color: #FFFFFF;
    border: none;
}

.save_training_modal_button {
    margin: 0;
    width: 100%;
    color: #2F54EB;
    background-color: #FFFFFF;
    border-radius: 2px;
    height: 32px;
    border: none;

}
