.common_exercises_container {
    display: flex;
    align-items: center;
    gap: 150px;
}

@media screen and (max-width: 835px) {
    .common_exercises_container {
       flex-direction: column;
        gap: 24px;
        align-items: start;
    }
}

@media screen and (max-width: 365px) {

}
