.calendar_error_modal_container .ant-modal{
    width: 384px;
}

.calendar_error_modal_container .ant-modal-content {
    border-radius: 4px;
    padding: 16px 24px;
    width: 384px;
    height: 144px;
    display: flex;
}

.calendar_error_modal_container .ant-modal-body {
    display: flex;

}

.calendar_error_modal_container .ant-modal-close {
    margin-right: 5px;
}

.calendar_error_img {
    width: 24px;
    height: 24px;
}

.calendar_error_wrapper_text {
    margin-left: 16px;
}

.calendar_error_text_title {
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #262626;
    font-family: Inter, sans-serif;
}

.calendar_error_text {
    padding: 0;
    margin: 0;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    text-align: start;
    color: #8C8C8C;
}

.calendar_error_button {
    color: #FFFFFF;
    border-radius: 2px;
    padding: 4px 15px;
    width: 99px;
    align-self: end;
}

@media screen and (max-width: 361px) {
    .calendar_error_modal_container .ant-modal{
        width: 344px;
    }

    .calendar_error_modal_container .ant-modal-content {
        width: 344px;
    }

}
