.main_section_container {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: var(--basic-padding);
}

.section_block1 {
    padding: var(--basic-padding);
    font-family: var(--basic-font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #061178;
    margin: 0;
    border-radius: 2px;
    background-color: var(--basic-white-color);
}

.section_block2 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.section_block2_text {
    padding: 24px 84px 24px 24px;
    font-family: var(--basic-font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: var(--basic-title-color);
    margin: 0;
    background-color: var(--basic-white-color);
}

.section_block2_fragment {
    display: flex;
    gap: 16px;
}

@media screen and (max-width: 865px) {
    .section_block2_text {
        padding: var(--basic-padding);
    }
}

@media screen and (min-width: 866px) {
    .section_block1 {
        width: 704px;
    }

    .section_block2_text {
        max-width: 644px;
    }
}

@media screen and (max-width: 361px) {
    .main_section_container {
        padding: 24px 15px;
    }
    .section_block2_fragment {
        gap: 8px;
        flex-direction: column;
    }
}
