.section {
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
}

.section_container {
    width: 100%;
    padding: 75.5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    background-color: var(--basic-white-color);
}

.section_title {
    font-family: var(--basic-font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: #061178;
    margin: 0;
}

.section_description {
    width: 100%;
    max-width: 521px;
    font-family: var(--basic-font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    color: var(--basic-font-color);
}

.section_button {
    height: 40px;
    color: var(--basic-white-color);
    background-color: #2f54eb;
    padding: 11px 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    font-family: var(--basic-font-family);
    border-radius: 2px;
}

@media screen and (max-width: 367px) {
    .section {
        height: 90%;
        gap: 48px;
        justify-content: start;
        margin-top: 24px;
        padding: 0 16px;
    }

    .section_container {
        max-width: 264px;
        padding: 48px 32px;
        gap: 48px;
        background-color: var(--basic-white-color);
    }

    .section_description {
        max-width: 246px;
    }

    .section_button {
        width: 100%;
    }
}
