.loading {
    position: fixed;
    top: 0;
    text-align: center;
    width: 100%;
    height: 100vh;
}

.app_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
