.information_modal_container {
    width: 475px;
    padding: 64px 32px 56px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.information_modal_title {
    margin: 24px 0 0;
    font-family: var(--basic-font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: var(--basic-title-color);
}

.information_modal_description {
    text-align: center;
    margin: 0;
    font-family: var(--basic-font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: var(--basic-font-color);
}

.email {
    font-weight: 700;
}

.information_modal_paragraf{
    text-align: center;
    margin: 0;
    font-family: var(--basic-font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: var(--basic-font-color);
    margin-top: 24px;
}

@media screen and (max-width: 361px) {
    .information_modal_container {
        width: 296px;
        padding: 32px 16px;
    }

    .information_modal_title {
        width: 176px;
    }

    .information_modal_description {
        width: 276px;
    }

    .email {
        font-weight: 700;
    }

    .information_modal_paragraf{
       width: 206px;
    }

}
