.container {
    max-width: 1440px;
    width: 100%;
    position: relative;
    min-height: 100vh;
}

.section_wrapper {
    max-width: 1333px;
    padding: var(--basic-padding);
}

.go_main {
    cursor: pointer;
}

.header_container {
    max-width: 1333px;
    background: var(--basic-bg-color);
    height: 64px;
    font-family: var(--basic-font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: var(--basic-font-color);
    display: flex;
    flex-direction: column;
    padding: 16px 24px 0;
}

.header_menu_item {
    color: var(--basic-title-color);
}

.header_content_wrapper {
    width: 99px;
    display: flex;
    align-items: center;
    padding: 7px 15px;
    gap: 10px;
    align-self: end;
}

.header_content_svg {
    width: 14px;
    height: 14px;
}

.header_content_wrapper {
    cursor: pointer;
}

@media screen and (max-width: 865px) {
    .header_content_wrapper {
        width: 105px;
        padding: 0;
    }

    .header_content_svg {
        display: none;
    }
}

@media screen and (max-width: 361px) {
    .section_wrapper {
        padding: 24px 0 42px;
    }

    .header_container {
        max-width: 336px;
        padding-left: 24px;
    }

    .header_menu_item {
        color: var(--basic-title-color);
    }

    .header_title {
        width: 275px;
        font-weight: 500;
        font-size: 20px;
        padding: 0;
    }

    .header_content_wrapper {
        width: 32px;
        height: 32px;
        padding: 0;
        gap: 0;
        margin-top: 0;
        border-bottom: 1px solid #e0e0e0;
        border-radius: 50%;
        background-color: var(--basic-white-color);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header_content_svg {
        width: 14px;
        height: 14px;
    }

    .header_content_item {
        display: none;
    }

    .header_content_svg {
        display: block;
    }
}
