.training_modal .ant-modal-content {
    padding: 16px 0 0 0;
    z-index: 9900;
}

.training_modal {
    margin: 0;
}

.ant-modal-mask {
    background: transparent;
    pointer-events: none;
}

.ant-modal-wrap {
    pointer-events: none;
}

.ant-modal {
    pointer-events: all;
}

.edit_svg_disabled svg {
    fill: #BFBFBF;
}

.edit_svg svg {
    fill: #2F54EB;
}

.training_modal_list {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: start;
}

.training_modal_list_item {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.training_header_wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 0 12px;
}

.training_header_title {
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    color: #262626;
}

.title_disabled  span{
    color: #BFBFBF;
    opacity: 0.5;
}

.training_header_description {
    padding: 0;
    margin: 0;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    text-align: start;
    color: #8C8C8C;

}

.training_modal_list_wrapper {
    margin-top: 16px;
    display: flex;
    padding: 0 12px;
    min-height: 128px;
}

.training_modal_button {
    width: 100%;
    border-radius: 2px;
}

.training_modal_button:disabled {
    color: #FFFFFF;
    background-color: #2F54EB;
}

.training_modal .ant-modal-close {
    width: 12px;
    height: 12px;
}

.training_modal .ant-modal-close svg {
    width: 12px;
    height: 12px;
}

.training_modal_icon {
    margin: 0 auto;
}

.training_modal .ant-modal-footer {
    padding: 12px;
    margin: 0;
    border-top: 1px solid #E0E0E0;
}
