.privacy_information_container {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    width: 480px;
}

.profile_privacy_title {
    margin: 0 0 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: var(--basic-title-color);
}

@media screen and (max-width: 361px) {

    .privacy_information_container {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        width: 312px;
        gap: 0;
    }

    .profile_privacy_title {
        margin: 0 0 16px;
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
        color: var(--basic-title-color);
    }

    .privacy_information_container .ant-fom-item-password {
        margin-top: 16px;
    }

    .privacy_information_container .ant-fom-item-email {
        margin-bottom: 16px;
    }

}
