.training_form_container {
    padding-top: 24px;
}

.training_form_container .ant-select-single {
    height: 28px;
}

.training_selector .ant-select-selector {
    border-radius: 0;
    height: 28px;
}

.training_selector .ant-select-selection-item {
    color: var(--basic-title-color)
}

.training_date {
    border-radius: 0;
    height: 28px;
    width: 156px;
}

.training_date_wrapper {
    display: flex;
    justify-content: space-between;
    height: 28px;
    margin-top: 8px;
}

.training_checkbox .ant-checkbox-inner {
    border-radius: 0;
}

.training_checkbox {
    color: var(--basic-title-color);
}

.training_checkbox span {
    padding-right: 0;
    font-size: 14px;
    font-weight: 500;
    font-family: var(--basic-font-family);
    line-height: 130%;
    color: var(--basic-title-color);
}

.date_title {
    font-size: 14px;
    font-weight: 500;
    font-family: var(--basic-font-family);
    line-height: 130%;
    color: var(--basic-title-color);
}

.invite_card_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 42px;
    padding-bottom: 8px;
    margin-bottom: 24px;
}

@media screen and (max-width: 361px) {

}
