.fragment_container {
    border-radius: 2px;

    display: flex;
    flex-direction: column;
    background-color: var(--basic-white-color);
}

.fragment_title {
    padding: 12px 24px;

    height: 45px;
    font-family: var(--basic-font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: var(--basic-title-color);
    border-bottom: 1px solid #e0e0e0;
}

.fragment_button {
    padding: 19px 0;
    width: 240px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 0;
    background-color: var(--basic-white-color);
    cursor: pointer;
}

.fragment_icon {
    width: 14px;
    height: 14px;
}

.fragment_button_name {
    font-family: var(--basic-font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    color: #2f54eb;
}

@media screen and (max-width: 865px) {
    .fragment_container {
        width: 100%;
        height: 100%;
    }

    .fragment_title {
        padding: 12px 24px;
        height: 50%;
        display: flex;
        justify-content: center;
    }

    .fragment_button {
        padding: 12px 0;
        width: 182px;
        height: 56px;
    }
    .fragment_button {
        margin: 0 auto;
    }
}

@media screen and (min-width: 866px) {
    .fragment_container {
        width: 240px;
        height: 101px;
    }

    .fragment_title {
        width: 192px;
    }
}

@media screen and (max-width: 361px) {
    .fragment_title {
        align-items: center;
    }
}
